* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold', sans-serif, 'Helvetica Neue', sans-serif;
  }

  body {
    width: 100%;
  }

  @media screen and (max-width: 320px) {
    nav {
        width: 100%;
        background-color: rgb(50, 80, 50);
        font-size: xx-small;
        font-weight: bolder;
        position: fixed;
        height: 12%;
        top: 0;        
    } 

    .comm {
        display: flex;
        width: 100%;
        justify-content: space-between; 
        text-align: center;
        padding-top: .5em;
        padding: .5em;
    }

    .comm-img {
        display: flex;
        flex-direction: column;
        color: chartreuse;
    }

    .comm-img:hover {
        border: 1px solid chartreuse;
        padding: .5em;
    }

    .comm-img img {
        height:1.5em;
        width: 1.5em;
        align-self: center;
        margin-bottom: .5em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }

    header {
        margin-top: 4em;
        text-align: center;
        padding: .5em;
        background: rgba(50, 80, 50, .8);
    }

    h1 {
        color: #fff;
        font-size: larger;
        margin: 2em .5em;
    }

    #me {
        width: 50%;
        height: 10em;
        border: .1px solid #000;
        border-radius: 50%;
    }

    header p {
        text-align: justify;
        margin: 0 1em;
        padding: .7em 1em;
        font-size: smaller;
        background: #fff;
        transition: .9s;
    }

    .stack {
        display: flex;
        justify-content: space-evenly;
        font-size: smaller;
        padding: 0 .7em;
        width: 100%;
        margin: .5em 0;
    }

    .stack-name {
        text-align: center;
        border: 2px solid #000;
        margin: .3em;
        background: rgb(50, 80, 50);
        color: chartreuse;
        width: 43%;
    }

    main {
        font-size: smaller;
        padding: 1em 0;
        text-align: justify;
    }

    article h3 {
        margin-bottom: 1em;
        color: chartreuse;
        background: rgb(50, 80, 50);
        padding-left: 1em;
        font-size: small;
    }

    article ul {
        margin: 1em;
        font-size: smaller;
    }

    article li {
        margin-left: 2em;
    }

    article h4 {
        margin-left: 1em;
        margin-bottom: .5em;
    }

    article p {
        margin-left: 1em;
    }

    .exp {
        margin: 1em;
        border-bottom: 1px solid #000;
    }

    .exp h4 {
        margin-bottom: .5em;
    }

    .year {
        display: flex;
        justify-content:space-between;
    }

    .exp h4 {
        margin: 0.5 0; 
    }

    .exp ul li {
        margin-left: 2em;
        padding: .2em;
    }

    aside {
        display: none;
    }

    footer {
        background: rgb(50, 80, 50);
        display: flex;
        justify-content: space-between;
        width: 100%;
        position:absolute;
    }

    .zuri {
        width: 45%;
        margin: .5em 0;
        padding-left: .7em;
    }

    .zuri img {
        width: 60%;
        padding-left: .5em;
        padding-top: .5em;
    }

    .socials {
        color: chartreuse;
        font-size: x-small;
        width: 45%;
        padding-top: .5em;
        padding-right: .5em;
        
    }

    .socials ul {
        display: flex;
        justify-content: space-around;
    }

    .socials ul li{
        list-style: none;
    }

    .socials img {
        width: 2em;
        height: 2em;
        margin-top: 1em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }
  }

@media screen and (max-width: 480px) {
    nav {
        width: 100%;
        background-color: rgb(50, 80, 50);
        font-size: x-small;
        font-weight: bolder;
        position: fixed;
        height: 12%;
        top: 0;        
    } 

    .comm {
        display: flex;
        width: 100%;
        justify-content: space-between; 
        text-align: center;
        padding-top: 1em;
        padding: .5em;
    }

    .comm-img {
        display: flex;
        flex-direction: column;
        color: chartreuse;
    }

    .comm-img:hover {
        border: 1px solid chartreuse;
        padding: .5em;
    }

    .comm-img img {
        height:2em;
        width: 2em;
        align-self: center;
        margin-bottom: .5em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }

    header {
        margin-top: 4em;
        text-align: center;
        padding: .5em;
        background: rgba(50, 80, 50, .8);
    }

    h1 {
        color: #fff;
        font-size: larger;
        margin: 2em .5em;
    }

    #me {
        width: 50%;
        height: 10em;
        border: .1px solid #000;
        border-radius: 50%;
    }

    header p {
        text-align: justify;
        margin: 0 1em;
        padding: .7em 1em;
        font-size: smaller;
        background: #fff;
        transition: .9s;
    }

    .stack {
        display: flex;
        justify-content: space-evenly;
        font-size: smaller;
        padding: 0 .7em;
        width: 100%;
        margin: .5em 0;
    }

    .stack-name {
        text-align: center;
        border: 2px solid #000;
        margin: .3em;
        background: rgb(50, 80, 50);
        color: chartreuse;
        width: 43%;
    }

    main {
        font-size: smaller;
        padding: 1em 0;
        text-align: justify;
    }

    article h3 {
        margin-bottom: 1em;
        color: chartreuse;
        background: rgb(50, 80, 50);
        padding-left: 1em;
        font-size: small;
    }

    article ul {
        margin: 1em;
        font-size: smaller;
    }

    article li {
        margin-left: 2em;
    }

    article h4 {
        margin-left: 1em;
        margin-bottom: .5em;
    }

    article p {
        margin-left: 1em;
    }

    .exp {
        margin: 1em;
        border-bottom: 1px solid #000;
    }

    .exp h4 {
        margin-bottom: .5em;
    }

    .year {
        display: flex;
        justify-content:space-between;
    }

    .exp h4 {
        margin: 0.5 0; 
    }

    .exp ul li {
        margin-left: 2em;
        padding: .2em;
    }

    aside {
        display: none;
    }

    footer {
        background: rgb(50, 80, 50);
        display: flex;
        justify-content: space-between;
        width: 100%;
        position:absolute;
    }

    .zuri {
        width: 45%;
        margin: .5em 0;
        padding-left: .7em;
    }

    .zuri img {
        width: 60%;
        padding-left: .5em;
        padding-top: .5em;
    }

    .socials {
        color: chartreuse;
        font-size: x-small;
        width: 45%;
        padding-top: .5em;
        padding-right: .5em;
        
    }

    .socials ul {
        display: flex;
        justify-content: space-around;
    }

    .socials ul li{
        list-style: none;
    }

    .socials img {
        width: 2em;
        height: 2em;
        margin-top: 1em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    nav {
        width: 100%;
        background-color: rgb(50, 80, 50);
        font-size: smaller;
        font-weight: bolder;
        position: fixed;
        height: 12%;
        top: 0;        
    } 

    .comm {
        display: flex;
        width: 100%;
        justify-content: space-around; 
        text-align: center;
        padding: 1em;
    }

    .comm-img {
        display: flex;
        justify-content: space-between;
        color: chartreuse;
    }

    .comm-img:hover {
        border: 1px solid chartreuse;
        padding: .5em;
    }

    .comm-img img {
        height:2em;
        width: 2em;
        align-self: center;
        margin-bottom: .5em;
        margin-right: .5em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }

    header {
        margin-top: 4em;
        text-align: center;
        padding: .5em;
        background: rgba(50, 80, 50, .8);
    }

    h1 {
        color: #fff;
        margin: 1em 0;
    }

    #me {
        width: 30%;
        height: 12em;
        border: .1px solid #000;
        border-radius: 50%;
    }

    header p {
        text-align: justify;
        margin: 0 1em;
        padding: .7em 1em;
        font-size: small;
        background: #fff;
        transition: .9s;
    }

    .stack {
        display: flex;
        justify-content: space-evenly;
        font-size: small;
        padding: 0 .7em;
        width: 100%;
        margin: 1em 0;
    }

    .stack-name {
        text-align: center;
        border: 2px solid #000;
        margin: .3em;
        background: rgb(50, 80, 50);
        color: chartreuse;
        width: 43%;
    }

    main {
        font-size: small;
        padding: 1em 0;
        text-align: justify;
    }

    article h3 {
        margin-bottom: 1em;
        padding: .5em;
        color: chartreuse;
        background: rgb(50, 80, 50);
        padding-left: 1em;
        font-size: medium;
    }

    article ul {
        margin: 1em;
        font-size: small;
    }

    article li {
        margin-left: 2em;
    }

    article h4 {
        margin-left: 1em;
        margin-bottom: .5em;
    }

    article p {
        margin-left: 1em;
    }

    .exp {
        margin: 1em;
        border-bottom: 1px solid #000;
    }

    .exp h4 {
        margin-bottom: .5em;
    }

    .year {
        display: flex;
        justify-content:space-between;
    }

    .exp h4 {
        margin: 0.5 0; 
    }

    .exp ul li {
        margin-left: 2em;
        padding: .2em;
    }

    aside {
        display: none;
    }

    footer {
        background: rgb(50, 80, 50);
        display: flex;
        justify-content: space-between;
        width: 100%;
        position:absolute;
    }

    .zuri {
        width: 45%;
        margin: .5em 0;
        padding-left: .7em;
    }

    .zuri img {
        width: 60%;
        padding-left: .5em;
        padding-top: .5em;
    }

    .socials {
        color: chartreuse;
        font-size: x-small;
        width: 45%;
        padding-top: .5em;
        padding-right: .5em;
        
    }

    .socials ul {
        display: flex;
        justify-content: space-around;
    }

    .socials ul li{
        list-style: none;
    }

    .socials img {
        width: 2em;
        height: 2em;
        margin-top: 1em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }
  }

@media screen and (max-width: 1024px) {
    nav {
        width: 100%;
        background-color: rgb(50, 80, 50);
        font-size: smaller;
        font-weight: bolder;
        position: fixed;
        height: 12%;
        top: 0;        
    } 

    .comm {
        display: flex;
        width: 100%;
        justify-content: space-around; 
        text-align: center;
        padding: 1em;
    }

    .comm-img {
        display: flex;
        justify-content: space-between;
        color: chartreuse;
    }

    .comm-img:hover {
        border: 1px solid chartreuse;
        padding: .5em;
    }

    .comm-img img {
        height:2em;
        width: 2em;
        align-self: center;
        margin-bottom: .5em;
        margin-right: .5em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }

    header {
        margin-top: 4em;
        text-align: center;
        padding: .5em;
        background: rgba(50, 80, 50, .8);
    }

    h1 {
        color: #fff;
        margin: 1em 0;
    }

    #me {
        width: 30%;
        height: 12em;
        border: .1px solid #000;
        border-radius: 50%;
    }

    header p {
        text-align: justify;
        margin: 0 1em;
        padding: .7em 1em;
        font-size: small;
        background: #fff;
        transition: .9s;
    }

    .stack {
        display: flex;
        justify-content: space-evenly;
        font-size: small;
        padding: 0 .7em;
        width: 100%;
        margin: 1em 0;
    }

    .stack-name {
        text-align: center;
        border: 2px solid #000;
        margin: .3em;
        background: rgb(50, 80, 50);
        color: chartreuse;
        width: 43%;
    }

    main {
        font-size: small;
        padding: 1em 0;
        text-align: justify;
    }

    article {
        width: 70%;
        float: right;
    }

    article h3 {
        margin-bottom: 1em;
        padding: .5em;
        color: chartreuse;
        background: rgb(50, 80, 50);
        padding-left: 1em;
        font-size: medium;
    }

    article ul {
        margin: 1em;
        font-size: small;
    }

    article li {
        margin-left: 2em;
    }

    article h4 {
        margin-left: 1em;
        margin-bottom: .5em;
    }

    article p {
        margin-left: 1em;
    }

    .exp {
        margin: 1em;
        border-bottom: 1px solid #000;
    }

    .exp h4 {
        margin-bottom: .5em;
    }

    .year {
        display: flex;
        justify-content:space-between;
    }

    .exp h4 {
        margin: 0.5 0; 
    }

    .exp ul li {
        margin-left: 2em;
        padding: .2em;
    }

    aside {
        display: block;
        width: 28%;
        float: left;
        margin-right: .3em;
    }

    aside h3 {
        padding: .6em 2em;
        background: rgb(50, 80, 50);
        color: chartreuse;
       
    }

    aside h4 {
        margin: .5em 1em;
        list-style: none;
    }

    aside ul li h4 {
        list-style: none;
        padding: 1em;
    }

    aside ul li ul {
        padding-left: 4em;
        border-bottom: 1px solid #000;
        margin-bottom: 1em;
        font-size: small;
    }

    aside ul li ul li {
        padding: .5em 0;
    }

    .hobbies ul {
        padding-left: 4em;
    }

    .hobbies ul li {
        padding: .5em 0;
        list-style: none;
    }

    footer {
        background: rgb(50, 80, 50);
        display: flex;
        justify-content: space-between;
        width: 100%;
        position:relative;
    }

    .zuri {
        width: 45%;
        margin: .5em 0;
        padding-left: .7em;
        display: flex;
    }

    .zuri img {
        width: 60%;
        padding-left: 1em;
        padding-top: .5em;
        height: 3em;
    }

    .socials {
        width: 45%;
        padding-top: .5em;
        padding-right: .5em;
        
    }

    .socials ul {
        display: flex;
        justify-content: space-around;
    }

    .socials ul li{
        list-style: none;
    }

    .socials img {
        width: 1.6em;
        height: 1.6em;
        margin-top: 1em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }
  }

@media screen and (max-width:1200px) {
    nav {
        width: 100%;
        background-color: rgb(50, 80, 50);
        font-size: smaller;
        font-weight: bolder;
        position: fixed;
        height: 15%;
        top: 0;        
    } 

    .comm {
        display: flex;
        width: 100%;
        justify-content: space-around; 
        text-align: center;
        padding: 1em;
    }

    .comm-img {
        display: flex;
        justify-content: space-between;
        color: chartreuse;
        padding: .5em;
    }

    .comm-img:hover {
        border: 1px solid chartreuse;
        padding: .5em;
    }

    .comm-img img {
        height:2em;
        width: 2em;
        align-self: center;
        margin-bottom: .5em;
        margin-right: 1em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }

    header {
        margin-top: 5em;
        text-align: center;
        padding: .5em;
        background: rgba(50, 80, 50, .8);
    }

    h1 {
        color: #fff;
        margin: .5em 0;
    }

    #me {
        width: 25%;
        height: 14em;
        border: .1px solid #000;
        border-radius: 50%;
    }

    header p {
        text-align: justify;
        margin: 0 4em;
        padding: .7em 1em;
        font-size: medium;
        background: #fff;
        transition: .9s;
    }

    .stack {
        display: flex;
        justify-content: space-evenly;
        font-size: small;
        padding: 0 .7em;
        width: 100%;
        margin: .5em 0;
    }

    .stack-name {
        text-align: center;
        border: 2px solid #000;
        margin: .3em;
        background: rgb(50, 80, 50);
        color: chartreuse;
        width: 25%;
    }

    main {
        font-size: small;
        padding: 2em 0;
        text-align: justify;
        margin: 0 1em;
    }

    article {
        width: 70%;
        float: right;
    }

    article h3 {
        margin-bottom: 1em;
        padding: .6em;
        color: chartreuse;
        background: rgb(50, 80, 50);
        padding-left: 1em;
        font-size: medium;
    }

    article ul {
        margin: 1em;
        font-size: small;
    }

    article li {
        margin-left: 2em;
    }

    article h4 {
        margin-left: 1em;
        margin-bottom: .5em;
    }

    article p {
        margin-left: 1em;
    }

    .exp {
        margin: 1em;
        border-bottom: 1px solid #000;
    }

    .exp h4 {
        margin-bottom: .5em;
    }

    .year {
        display: flex;
        justify-content:space-between;
    }

    .exp h4 {
        margin: 0.5 0; 
    }

    .exp ul li {
        margin-left: 2em;
        padding: .2em;
    }

    aside {
        display: block;
        width: 28%;
        float: left;
        margin-right: .3em;
    }

    aside h3 {
        padding: .6em 2em;
        background: rgb(50, 80, 50);
        color: chartreuse;  
    }

    aside h4 {
        margin: .5em 1em;
        list-style: none;
    }

    aside ul li h4 {
        list-style: none;
        padding: 1em;
    }

    aside ul li ul {
        padding-left: 4em;
        border-bottom: 1px solid #000;
        margin-bottom: 1em;
        font-size: small;
    }

    aside ul li ul li {
        padding: .5em 0;
    }

    .hobbies ul {
        padding-left: 4em;
    }

    .hobbies ul li {
        padding: .5em 0;
        list-style: none;
    }

    footer {
        background: rgb(50, 80, 50);
        display: flex;
        justify-content: space-between;
        width: 100%;
        position:relative;
    }

    .zuri {
        width: 45%;
        margin: .5em 0;
        padding-left: .7em;
        display: flex;
    }

    .zuri img {
        width: 60%;
        padding-left: 1em;
        padding-top: .5em;
        height: 3em;
    }

    .socials {
        width: 45%;
        padding-top: .5em;
        padding-right: .5em;
        
    }

    .socials ul {
        display: flex;
        justify-content: space-around;
    }

    .socials ul li{
        list-style: none;
    }

    .socials img {
        width: 1.6em;
        height: 1.6em;
        margin-top: 1em;
        border: 1px solid rgb(50, 80, 50);
        border-radius: 50%;
    }
  }
